{% extends 'base.html.twig' %}

{% block title %} Symfony {% endblock %}

{% block body %}
    <h1 class="welcome center">Välkommen till Eddies projekt i MVC</h1>
    <img src="../img/php.png" class="centerimg">
{% endblock %}
